h1 {
    text-align: center;
    background-color: chartreuse;
}

h2 {
    text-align: center;
    background-color: coral;
}

h3 {
    text-align: center;
    background-color: darkred;
}

h4 {
    text-align: center;
    background-color: blueviolet;
}

h5 {
    text-align: center;
    background-color: blue;
}

h6 {
    text-align: center;
    background-color: greenyellow;
}